.add-user-form-container {
    background-color: #e8d988;
    flex-basis: 50%;
    padding: 25px;
    border: 3px solid #277047;
}
.btn-container {
    display: flex;
}
.add-user-form-container input {
    background-color: #f2fbdc !important;
}
.pop-bg {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}
.pop {
    width: 450px;
    height: 300px;
    background-color: #e8d988;
    border: 5px solid #277047;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
.pop p {
    font-size: 38px;
    color: #277047;
}